@font-face {
  font-family  : 'Roboto Regular';
  src          : url('../fonts/roboto/Roboto-Regular.eot');
  src          : url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
  url('../fonts/roboto/ttf/Roboto-Regular.ttf') format('truetype');
  font-weight  : normal;
  font-style   : normal;
  font-display : swap;
  }

@font-face {
  font-family  : 'Roboto Light';
  src          : url('../fonts/roboto/Roboto-Light.eot');
  src          : url('../fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/Roboto-Light.woff2') format('woff2'),
  url('../fonts/roboto/Roboto-Light.woff') format('woff'),
  url('../fonts/roboto/ttf/Roboto-Light.ttf') format('truetype');
  font-weight  : normal;
  font-style   : normal;
  font-display : swap;
  }

@font-face {
  font-family  : 'Roboto Bold';
  src          : url('../fonts/roboto/Roboto-Bold.eot');
  src          : url('../fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
  url('../fonts/roboto/Roboto-Bold.woff') format('woff'),
  url('../fonts/roboto/ttf/Roboto-Bold.ttf') format('truetype');
  font-weight  : normal;
  font-style   : normal;
  font-display : swap;
  }

@font-face {
  font-family  : 'Roboto Black';
  src          : url('../fonts/roboto/Roboto-Black.eot');
  src          : url('../fonts/roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/Roboto-Black.woff2') format('woff2'),
  url('../fonts/roboto/Roboto-Black.woff') format('woff'),
  url('../fonts/roboto/ttf/Roboto-Black.ttf') format('truetype');
  font-weight  : normal;
  font-style   : normal;
  font-display : swap;
  }

