

body {
  width: 100%;
  height: auto;
}

.wrapper {
  width: 100%;
  height: auto;
  background: #fffdfe;
}

.header_section,
.main_section,
.footer_section {
  width: 100%;
  height: auto;
  padding: 0 80px;
}

.header_section,
.main_section,
.footer_section {
  padding: 0 80px;
}

.navigate_block {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 20px 0 20px;
}

.nav_left_block,
.nav_right_block,
.logo_block {
  flex-grow: 1;
}

.logo_block_img {
  text-align: center;
}

.left_block,
.right_block {
  height: 100%;
  width: 100%;
}

.left_block_links,
.right_block_links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  align-items: center;
}

.link_item a {
  display: block;
  height: 100%;
  color: black;
  text-transform: uppercase;
  font-family: "Roboto Regular", sans-serif;
  font-size: 24px;
}

.link_item a:hover {
  opacity: 0.2;
}

.main_section.home_promo {
  width: 100%;
  height: auto;
  margin-bottom: 60px;
  position: relative;
  padding: 0;
}


.main_section.home_promo img {
  width: 100%;
  height: auto;
}

.home_promo_title {
  width: 100%;
  padding-bottom: 50px;
  position: absolute;
  left: 80px;
  bottom: 0;
  color: white;
  font-family: "Roboto Regular", sans-serif;
  font-size: 32px;
  padding-left: 30px;
}

.home,
#promo_btn {
  width: 403px;
  background: transparent;

}

.home,
#promo_btn {
  display: block;
  color: black;
  font-size: 30px;
  padding: 26px 0 17px;

}

.home,
#promo_btn:hover {
  display: block;
  color: black;
  background: rgba(0, 187, 227, 0.6);
  font-size: 30px;
  padding: 26px 0 17px;

}

.partners_block_info {
  width: 100%;
  height: auto;
  margin-top: 73px;
}

.partners_block_title {
  width: 80%;
  margin-bottom: 40px;
}

.partners_block_title h3 {
  font-size: 48px;
  font-family: "Roboto Light", sans-serif;
  line-height: normal;
}

.partners_block_text p {
  font-size: 30px;
  font-family: "Roboto Regular", sans-serif;
}

.partners_block_nominee {
  display: flex;
  margin-top: 66px;
  margin-bottom: 67px;
  justify-content: space-evenly;
}

.partners_company_block {
  width: 100%;
  height: auto;
}

.company_block_title {
  width: 100%;
  text-align: left;
}

.company_block_title h3 {
  font-size: 48px;
  font-family: "Roboto Light", sans-serif;
  line-height: normal;
}

.company_items_list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.company_items_list li {
  width: calc((100% - 367px) / 4);
}

.company_item_logo {
  height: 146px;
  display: flex;
}

.company_item_logo img {
  margin: auto 0;
  align-items: center;
  vertical-align: center;
}

.company_item_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 265px
}

.company_item_info div {
}

.company_item_text > p,
.company_item_founder > p {
  font-size: 18px;
  font-family: "Roboto Regular", sans-serif;
  color: #6b7477;
  text-align: left;
}

.company_item_link > a {
  display: block;
  color: black;
  margin-top: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
  font-family: "Roboto Regular", sans-serif;
}

.main_section.about_us {
  background: url(../image/coffee-beans-top-view-on-a-white-background.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: auto;
}

.about_us_block_info {
  display: flex;
  width: 100%;
  height: inherit;
  justify-content: space-between;


}

.left_block_info {
  flex-grow: 1;
  padding-top: 160px;
  width: 100%;
  margin-right: 75px;
}

.right_block_info_why {
  flex-grow: 1;
  margin-top: 160px;
  width: 100%;
  margin-left: 75px;
}

.left_block_info_title {
  width: 100%;
  font-family: "Roboto Light", sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: black;

}

.right_block_info_why_text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  justify-content: space-between;
}

.info_why_title {
  font-size: 48px;
  font-family: "Roboto Light", sans-serif;
  color: black;
  width: 100%;
}

.info_why_text p {
  font-size: 24px;
  font-family: "Roboto Light", sans-serif;
  margin-bottom: 95px;
  color: black;
  line-height: 1.2em;
}

.info_why_text h4 {
  font-family: "Roboto Bold", sans-serif;
  font-size: 24px;
  margin-bottom: 5px;
}

.info_why_text p > span {
  font-family: "Roboto Bold", sans-serif;
  color: black;
}

.main_section.blog_posts {
  background: white;
  width: 100%;
  height: auto;
}

.main_section.blog_posts .blog_posts_block {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 40px 0 25px;
}

.main_section.blog_posts .blog_posts_block_info {
  width: 100%;
  height: auto;
  color: black;
  margin-bottom: 63px;
}

.main_section.blog_posts .posts_block_title {
  font-family: "Roboto Light", sans-serif;
  font-size: 48px;
  width: inherit;
  margin-bottom: 10px;
}

.main_section.blog_posts .posts_block_text {
  font-family: "Roboto Light", sans-serif;
  font-size: 16px;
  width: 72%;
}

.main_section.blog_posts .blog_posts_block__items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 78px;
}

.main_section.blog_posts  .post__item {
  width: calc((100% - 183px) / 3);
  color: black;
}

.main_section.blog_posts .item_img img {
  width: 100%;
  height: auto;
}

.blog_posts .post__item p:first-child {
  font-family: "Roboto Light", sans-serif;
  font-size: 14px;
  color: black;
  margin-top: 22px;
}

.main_section.blog_posts .post__item h4 {
  font-family: "Roboto Bold", sans-serif;
  font-size: 24px;
  margin-top: 5px;
}

.main_section.blog_posts .post__item p {
  font-family: "Roboto Light", sans-serif;
  font-size: 16px;
  color: black;
}

.main_section.blog_posts .post__item a {
  font-family: "Roboto Bold", sans-serif;
  font-size: 14px;
  color: black;
  margin-top: 30px;
  display: block;
  text-align: center;
  border: 1px solid #000;
  padding: 5px 10px;


}

.main_section.blog_posts .post__item a:hover {
  border: 1px solid red;
  transform: scale(1.2);
}

.main_section.our_services {
  background: #f7f4e9;
  width: 100%;
  height: auto;
}

.our_services_block {
  padding: 55px 0 68px;
  width: 100%;
  height: auto;

}

.services_block_info {
  width: 100%;
  margin-bottom: 21px;
}

.services_block_title {
  font-family: "Roboto Light", sans-serif;
  font-size: 48px;
  color: black;
  margin-bottom: 21px;
}

.services_block_text {
  font-family: "Roboto Regular", sans-serif;
  font-size: 30px;
  color: black;

}

.services_block_items {
  width: 100%;
  height: auto;
}

.services_items_list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-item {
  width: calc((100% - 276px) / 3);
  height: auto;
  margin: 21px 5px;
}


.services-item_img {
  width: 100%;
  height: auto;
  margin: 21px 0;
}

.services-item_info {
  width: 100%;
  height: auto;
}

.services-item_title {
  font-family: "Roboto Bold", sans-serif;
  font-size: 24px;
  color: black;
}

.services-item_text {
  font-family: "Roboto Light", sans-serif;
  font-size: 24px;
  color: black;
  margin: 5px 0;
}

.services-item_text span {
  display: block;
  font-family: "Roboto Bold", sans-serif;
  font-size: 24px;
  color: black;
  margin-top: 5px;
}

.main_section.start_today {
  background: url("../image/coffee-beans-with-props-for-making-coffee.jpg") no-repeat center;
  width: 100%;
  height: 450px;
  background-size: cover;
}

.start_today_block {
  width: 100%;
  height: auto;
  padding: 75px 0;
}

.start_today_title {
  margin-bottom: 30px;
  font-family: "Roboto Light", sans-serif;
  font-size: 48px;
  width: 50%;
  display: block;
  color:#fff;
  font-weight: 500;
}


.start_today_desc {
  width: 50%;
  text-align: left;
  font-size: 24px;
  font-family: "Roboto Light", sans-serif;
  color: #fff;
  line-height: 1.2em;
}


.footer_section.footer_navigate {
  background: white;
  padding-bottom: 70px;
  padding-top: 80px;
}

.footer_navigate_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_navigate_block > div {
  width: 30%;
}

.navigate_block_mail {

}

.footer_mail-link {
  color: black;
  font-family: "Roboto Bold", sans-serif;
  font-size: 24px;
   display: block;
}

.footer_mail-link:hover {
  transform: scale(1.1);

}

.footer_mail-link:active, .footer_mail-link:focus {
  color: royalblue;
}

.footer_logo_img {
  width: 30%;
  display: flex;
  justify-content: center;
}

.footer_logo_img img {
  width: 200px;
  height: 100px;
}

.footer_social_links {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.footer_social_list_items {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.footer_social_list_items a {

}

.footer_social_list_items i {
  font-size: 35px;
  color: #000;
}

.footer_social_list_items i:hover {
  transform: scale(1.1);


}

.footer_social_list_items i:active, i:focus {
  color: royalblue;
}

.footer_certificate_block {
  display: flex;
  justify-content: center;
  width: 94%;
  height: auto;
  margin-bottom: 70px;
}

.certificate_item_icon p {
  font-family: "Roboto Regular", sans-serif;
  font-size: 18px;
  color: black;
}

.footer_certificate_list-items {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.footer_certificate_list-items li:nth-child(2) {
  margin: 0 183px 0 119px;
}

.footer_certificate_list-items li:nth-child(3) {
  margin-right: 87px;
}
